.top {
    height: 40px;
    background-color: rgba(4, 150, 208, 95%);
}

.marginTop {
    margin-left: 90px;
    margin-right: 90px;
}

.textUser {
    color: #F2F5FF;
}

.textUser:hover {
    color: #C9CBE3;
    text-decoration: none;
}

.nav-colorfond {
    background-color: rgba(3, 120, 166, 95%);
}

.marginsIconLeft {
    margin-left: 90px;
}

.marginsNavBarRigth {
    margin-right: 90px;
}

.nav-link-textColor {
    color: #F2F5FF !important;
}
.nav-link-textColor:hover {
    color: #C9CBE3 !important;
}