<header class="top">
    <div class="marginTop">
        <div class="float-right">
            <!-- <img src="../../../assets/Logo user.svg" /> -->
            <button type="button" class="btn btn-link textUser" (click)="logout()">Log out</button>
        </div>
        <!-- <img src="../../../assets/Logo user.svg" />
        <label class="textUser">Usuario</label> -->
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark nav-colorfond sticky-top">
    <div class="d-flex flex-grow-1 marginsIconLeft">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile -->
        </span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/home">
            <img src="../../../assets/Logo White.svg" />
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/home">
            <img src="../../../assets/Logo icon white.svg" width="40px" height="40px" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class=" navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right marginsNavBarRigth" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item dropdown">
                <a class="nav-link m-2 menu-item nav-link-textColor dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-expanded="false">
                    Habitacion </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="addHabitacion">Registrar</a>
                    <a class="dropdown-item" routerLink="listHabitacion">Consultar</a>
                    <a class="dropdown-item" routerLink="actualizeHabitacion">Actualizar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link m-2 menu-item nav-link-textColor dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-expanded="false">
                    Huesped </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="addHuesped">Registrar</a>
                    <a class="dropdown-item" routerLink="listHuesped">Consultar</a>
                    <a class="dropdown-item" routerLink="actualizeHuesped">Actualizar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link m-2 menu-item nav-link-textColor dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-expanded="false">
                    Factura </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="addFactura">Registrar</a>
                    <a class="dropdown-item" routerLink="listFactura">Consultar</a>
                    <a class="dropdown-item" routerLink="actualizeFactura">Actualizar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link m-2 menu-item nav-link-textColor dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-expanded="false">
                    Producto </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="addProducto">Registrar</a>
                    <a class="dropdown-item" routerLink="listProducto">Consultar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link m-2 menu-item nav-link-textColor dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-expanded="false">
                    Reserva </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="addReserva">Registrar</a>
                    <a class="dropdown-item" routerLink="listReserva">Consultar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>