<img src="../assets/Logo White.svg" class="logo">

<div class="box-login">
    <h1 class="title-color">Inicio de Sesion</h1>
    <form class="form-login">
        <div class="box-input">
            <input type="text" class="form-label" name="username" id="username" [(ngModel)]="username" />
            <span class="line"></span>
            <label class="namebox">Usuario</label>
        </div>
        <div class="box-input-rch">
            <input type="password" class="form-label" name="password" id="password" [(ngModel)]="password" />
            <span class="line"></span>
            <label class="namebox">Contraseña</label>
        </div>
        <div class="box-input-checkbox">
            <input type="checkbox" class="form-checkbox" name="rememberMe" id="rememberMe" />
            <label class="namecheckbox">Recuerdame</label>
        </div>
        <input type="submit" value="Iniciar Sesion" class="btn btn-form" (click)="login()">
    </form>
    <div class="consulta">
        <a href="#">¿Necesita ayuda?</a>
    </div>
    <div class="error">
        <label for="">{{messageError}}</label>
    </div>
</div>