<div>
    <form class="content">
        <div class="submit-form">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 1.5%">
                    <h3>Actualizar Habitaciones</h3>
                </div>
            </div>

            <div>
                <div class="row" style="margin-top: 3%">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <!-- <th></th>
                                <th></th>
                                <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of habitaciones">
                                <td style="font-weight: 600; text-align: center;">{{aux.id}}</td>
                                <td>{{aux.description}}</td>
                                <td style="text-align: center;">{{aux.price}}</td>
                                <td style="text-align: center;">{{aux.state}}</td>
                                <!-- <td>
                                    <div class="col-lg-6">
                                        <select id="state" name="state" class="form-control">
                                            <option value="-1"> [Seleccione] </option>
                                            <option value="Disponible"> Disponible </option>
                                            <option value="Ocupado"> Ocupado </option>
                                            <option value="Reservado"> Reservado </option>
                                        </select>
                                    </div>
                                </td>
                                <td></td>
                                <td></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>