<div>
    <form class="content">
        <div class="submit-form">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 1.5%">
                    <h3>Actualizar Factura</h3>
                </div>
            </div>

            <div>
                <div class="row" style="margin-top: 3%">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nro Factura</th>
                                <th>RUC</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Habitacion</th>
                                <th>Empleado</th>
                                <th>Precio</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of facturas">
                                <td>{{aux.numFactura}}</td>
                                <td>{{aux.ruc}}</td>
                                <td>{{aux.dni!.dni}}</td>
                                <td>{{aux.dni!.nombre}} {{aux.dni!.apellido}}</td>
                                <td>{{aux.habitacionId!.description}}</td>
                                <td>{{aux.empleadoId!.nombre}} {{aux.empleadoId!.apellido}}</td>
                                <td>{{aux.precioNoche}}</td>
                                <td>{{aux.fec_Act | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>