<div>
    <form class="content contenido" (submit)="register()">
        <div class="submit-form">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 1.5%">
                    <h3>Registro de Productos</h3>
                </div>
            </div>

            <div class="divLeft w-50 p-3">
                <div class="row" style="margin-top: 3%">
                    <div class="col-lg-4">
                        <label for="id">ID</label>
                        <input type="text" maxlength="5" class="form-control" name="id" id="id"
                            [(ngModel)]="producto.id" />
                    </div>
                    <div class="col-lg-7">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion" id="descripcion"
                            [(ngModel)]="producto.description" />
                    </div>
                </div>

                <div class="row" style="margin-top: 3%">
                    <div class="col-lg-5">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" name="stock" id="stock" placeholder="0.00"
                            [(ngModel)]="producto.stock" />
                    </div>
                    <div class="col-lg-5">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" name="price" id="price" placeholder="0.00"
                            [(ngModel)]="producto.price" />
                    </div>
                </div>

                <div class="row" style="margin-top: 3%">
                    <div class="col-lg-5">
                        <label for="idcat">Categoria</label>
                        <select id="idcat" name="idcat" class="form-control" [(ngModel)]="producto.idcat">
                            <option value=""> [Seleccione] </option>
                            <option value="H"> Habitacion </option>
                            <option value="C"> Cocina </option>
                        </select>
                    </div>
                </div>

                <div class="row" style="margin-top: 3%">
                    <div class="col-lg-12">
                        <button class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </div>

            <div class="divRigth w-50 p-3">
                <div class="row" style="margin-top: 3%">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripcion</th>
                                <th>Stock</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of productos">
                                <td style="text-align: center;">{{aux.id}}</td>
                                <td>{{aux.description}}</td>
                                <td style="text-align: center;">{{aux.stock}}</td>
                                <td style="text-align: center;">{{aux.price}}</td>
                                <td style="text-align: center;">{{ getCategoria(aux.idcat == null ? "0" : aux.idcat) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>